<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mark.demo.shiro.mapper.ClientKeyMapper">
    <!-- 基础列 -->
    <sql id="clientKeyColumns">
        a.refrenceId as refrenceId,
        a.accessType as accessType ,
        a.userKey as userKey,
        a.userLimit as userLimit,
        a.createTime as createTime,
        a.updateTime as updateTime,
        a.createIp as createIp ,
        a.checkState as checkState,
        a.delFlag as delFlag
    </sql>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="ClientKey">
        INSERT INTO ClientKey (
            refrenceId,
            accessType,
            userKey,
            userLimit,
            createTime,
            updateTime,
            createIp,
            checkState,
            delFlag
        ) VALUES (
            #{refrenceId},
            #{accessType},
            #{userKey},
            #{userLimit},
            #{createTime},
            #{updateTime},
            #{createIp},
            #{checkState},
            #{delFlag}
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM ClientKey
        WHERE refrenceId = #{refrenceId}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        UPDATE ClientKey
        SET delFlag = TRUE
        WHERE refrenceId = #{refrenceId}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="ClientKey">
        insert into ClientKey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                refrenceId ,
            </if>
            <if test="accessType != null">
                accessType ,
            </if>
            <if test="userKey != null">
                userKey ,
            </if>
            <if test="userLimit != null">
                userLimit ,
            </if>
            <if test="createTime != null">
                createTime ,
            </if>
            <if test="updateTime != null">
                updateTime ,
            </if>
            <if test="createIp != null">
                createIp ,
            </if>
            <if test="checkState != null">
                checkState ,
            </if>
            <if test="delFlag != null">
                delFlag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refrenceId != null">
                #{refrenceId} ,
            </if>
            <if test="accessType != null">
                #{accessType} ,
            </if>
            <if test="userKey != null">
                #{userKey} ,
            </if>
            <if test="userLimit != null">
                #{userLimit} ,
            </if>
            <if test="createTime != null">
                #{createTime} ,
            </if>
            <if test="updateTime != null">
                #{updateTime} ,
            </if>
            <if test="createIp != null">
                #{createIp} ,
            </if>
            <if test="checkState != null">
                #{checkState} ,
            </if>
            <if test="delFlag != null">
                #{delFlag}
            </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="ClientKey">
        update ClientKey
        <set>
            <if test="accessType != null">
                accessType = #{accessType} ,
            </if>
            <if test="userKey != null">
                userKey = #{userKey} ,
            </if>
            <if test="userLimit != null">
                userLimit = #{userLimit} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="createIp != null">
                createIp = #{createIp} ,
            </if>
            <if test="checkState != null">
                checkState = #{checkState} ,
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag}
            </if>
        </set>
        where refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="ClientKey">
        UPDATE ClientKey
        SET
            accessType = #{accessType},
            userKey    = #{userKey},
            userLimit  = #{userLimit},
            createTime = #{createTime},
            updateTime = #{updateTime},
            createIp   = #{createIp},
            checkState = #{checkState},
            delFlag    = #{delFlag}
        WHERE refrenceId = #{refrenceId}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultType="ClientKey">
        select
        <include refid="clientKeyColumns"/>
        from ClientKey a where a.refrenceId = #{refrenceId}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="ClientKey">
        SELECT
        <include refid="clientKeyColumns"/>
        FROM ClientKey a WHERE a.delFlag = 0
        <if test="accessType != null and accessType != ''">
            and a.accessType like CONCAT('%',#{accessType}, '%')
        </if>
        <if test="userKey != null and userKey != ''">
            and a.userKey like CONCAT('%',#{userKey}, '%')
        </if>
        <if test="userLimit != null and userLimit != ''">
            and a.userLimit = #{userLimit}
        </if>
        <if test="createTime != null and createTime != ''">
            and a.createTime = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and a.updateTime = #{updateTime}
        </if>
        <if test="createIp != null and createIp != ''">
            and a.createIp = #{createIp}
        </if>
        <if test="checkState != null and checkState != ''">
            and a.checkState = #{checkState}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="ClientKey">
        SELECT
        <include refid="clientKeyColumns"/>
        FROM ClientKey a WHERE a.delFlag = 0
    </select>

    <select id="findByKey" parameterType="map" resultType="ClientKey">
        SELECT
        <include refid="clientKeyColumns"/>
        FROM ClientKey a
        WHERE a.accessType = #{accessType}
        and a.userKey = #{key}
        and a.delFlag = 0
    </select>

    <select id="isExistNetAddress" parameterType="map" resultType="ClientKey">
        SELECT
        <include refid="clientKeyColumns"/>
        FROM NetAddress a
        where a.userKey=#{key}
        and a.access=#{accessType}
        and a.ipAddress = #{ip}
    </select>
</mapper>

